/*
 Jet - #363635
 Nickel - #6B6D76
 Inchworm - #B0FE76
 Pastel Green - #81E979
 Isabelline - #F7F0F0
*/

body {
    padding: 0%;
    margin: 0%;
    background-color: #F7F0F0;
}

h1 {
    text-align: center;
    font-family: 'Bungee', cursive;
    color: #363635;
    margin: 1% 0%;
}

h3 {
    font-family: 'Bungee', cursive;
    color: #81E979;
    margin: 1% 2%;
}

.navbar {
    background-color: #363635;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: #81E979;
    font-family: 'Bungee', cursive;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: auto;
}

.navbar a:hover {
    background-color: #F7F0F0;
    color: #363635;
    transition: all 1s cubic-bezier(.48,.01,.71,.69)
}
.navbar p {
    color: #B0FE76;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    padding: 0% 1%;
    margin: auto;
    float: left;
}

.main-link {
    padding: 0%;
    margin: 0%;
    font-family: 'Bungee', cursive;
}

.home-featured {
    padding: 2% 0 0 0;
    display: flex;
    justify-content: space-around;
}

.feature {
    text-align: center;
    color: #81E979;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.main-feature {
    padding: auto:
    margin: auto;
    height: 200px;
    width: 200px;
}

.product-container {
    padding: auto;
    margin: 0% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-list-show-cover {
    font-family: 'Bungee', cursive;
    font-size: 15px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    align-self: center;
    height: 180px;
    width: 130px;
}

.show-title {
     text-shadow: -1px -1px 0 #81E979, 1px -1px 0 #81E979, -1px 1px 0 #81E979, 1px 1px 0 #81E979;
}

.product-resize-for-list {
    height: 100px;
    width: 70px;
}


.product-resize-for-show {
    height: 200px;
    width: 140px;
}

.product-text-link {
    color: #81E979;
}
.btn-container {
    text-align: center;
    padding: 15px;
}
.btn-container a {
    font-family: 'Bungee', cursive;
    color: #81E979;
    padding: 15px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button {
    font-family: 'Bungee', cursive;
    color: #81E979;
    padding: 15px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.login-page {
    margin: auto;
    width: 50%;
    border: 3px #81E979;
    padding: 10px;
}

.background {
    background-image: url(https://www.destructoid.com//ul/478638-h1.jpg);
  height: 100vh;
  width: 100vw;
}

.description-box {
    background-color: #6B6D76;
    padding: 25px;
    color: #F7F0F0;
    height: 30vh;
    width: 50vw;
    border: 5px solid #363635;
    box-shadow: 10px 10px 5px #363635;
}

.show-page {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}