<h1>Basket</h1>

<div class="product-container">

    <p>$customer.getUsername()</p>
    <p>$customer.getBasket().getItemsInBasket().size()</p>

    #foreach ($item in $customer.getBasket().getItemsInBasket())
        <p>$item.getName()</p>
    #end


</div>