<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dragon Games</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <div class="navbar">
        <p>Dragon Games</p>
        <a href="/">Home</a>
        <a href="/games">Games</a>
        <a href="/console">Consoles</a>
        <a href="/clothing">Clothing</a>
        <a id="basket" href="/basket">Basket</a>
    </div>
</head>
<body>

<div>
    #parse($template)
</div>
</body>
</html>

