<div class="btn-container">
    <div class="login-page">
        <form action="/login" method="post">
            <label for="username">Your name</label>
            <input type="text" pattern="[^()/><\][\\\x22,;|]+" name="username" id="username">
            <button type="submit">Submit name</button>
        </form>
    </div>
</div>