<h1 class="show-title">$console.getName()</h1>

<div class="show-page">
<div class="show-cover">
    <img class="product-resize-for-show" src="$console.getImage()" alt="">
</div>
<div class="show-info">
    <p>$console.getName()</p>

    <div class="description-box">
        <h3>Description</h3>
        <p>$console.getDescription()</p>
    </div>

</div>
</div>